# Database
MONGODB_URI=mongodb+srv://kidscart-admin:UO9hYZRGsGf2bpMC@kidscart-cluster.nrslfr0.mongodb.net/?appName=kidscart-cluster

# Auth
JWT_SECRET=1235789
ADMIN_EMAIL=admin@kidocart.shop
ADMIN_PASSWORD=your_admin_password_here

# Email (Resend)
RESEND_API_KEY=re_GtcpTGjD_JRZTfrBJMcjd2LAZhJsGoJYv

# App
NEXT_PUBLIC_SITE_URL=https://admin.kidocart.shop
